{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_recipe.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="food-name-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Food Description</h5>
                            <input class="form-control" type="text" name="{{ form.recipe_name.html_name }}" placeholder="Food Name" maxlength="35" required>
                            <select class="form-control" name="{{ form.recipe_type.html_name }}" required>
                                <option>Appetizer</option>
                                <option>Breakfast</option>
                                <option>Dinner</option>
                                <option>Dessert</option>
                            </select>
                            <textarea class="form-control" type="textarea" name="{{ form.description.html_name }}" placeholder="Description" maxLength="300"></textarea>
                            <label for="cook-time">Cook Time in Minutes (0-500)</label>
                            <input class="form-control" name="{{ form.cook_time.html_name }}" id="cook-time" type="number" min="0" max="500" value="0"></input>
                            <label for="serves">Serves (0-100)</label>
                            <input class="form-control" name="{{ form.serves.html_name }}" id="serves" type="number" min="0" max="100" value="0"></input>
                            <!--<label for="file-up">Picture (.jpg or .png)</label>
                            <input class="form-control-file" type="file" accept="image/*" id="file-up" onchange="readURL(this);" name="pic" />
                            <img id="food-pic" src="//:0" />-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="ingredient-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Ingredients</h5>
                            <div id="ingredients">
                            </div>
                            <input type="text" id="ingredients-list" name="{{ form.ingredients.html_name }}" hidden="true"></input>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addIngredient()">Add an Ingredient</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeIngredient()">Remove an Ingredient</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="steps-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Steps</h5>
                            <div id="steps">
                            </div>
                            <input type="text" id="steps-list" name="{{ form.steps.html_name }}" hidden="true"></input>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addStep()">Add a Step</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeStep()">Remove a Step</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" onclick="updateLists()" id="save">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/create-recipe.js' %}"></script>
{% endblock %}