{% extends "recipe/base-recipe-template.html" %}

{% block recipes-block %}
{% if desserts %}
<span class="display-4" id="food-header">Desserts</span>
<div class="container-fluid padding">
    <div class="row padding">
        {% for item in desserts %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="card-rec">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-hamburger" title="Dinner Recipe" id="food-icon"></i>
                    <h4 class="card-title">{{ item.recipe_name }} {% if item.users|length > 1 %} <span class="badge badge-info" title="Shared with {{item.users|length}} people">{{item.users|length}}</span> {% else %}
                        <span class="badge badge-info" title="Shared with {{item.users|length}} person">{{item.users|length}}</span> {% endif %}
                    </h4>

                    {% if item.cook_time != 0 %}
                    <p class="card-text">Cook Time: {{item.cook_time}} min</p>
                    {% else %}
                    <p class="card-text"> Cook Time: - </p>
                    {% endif %} {% if item.serves != 0 %}
                    <p class="card-text">Serves: {{item.serves}} </p>
                    {% else %}
                    <p class="card-text">Serves: -</p>
                    {% endif %}
                    <a href="{% url 'recipe:view_recipe' uid=item.uid %}" class="btn btn-outline-secondary" id="view-recipe-button">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card" id="no-recipes">
    <div class="card-body">
        <div class="card-text text-center">You currently have no dessert recipes.</div>
        <a href="{% url 'recipe:create_recipe' %}" class="btn btn-outline-secondary" id="no-recipes-button">Create Recipe</a>
    </div>
</div> {% endif %}
{% endblock %}