{% extends "recipe/base-recipe-template.html" %}

{% block recipes-block %}
{% if dinner %}
<span class="display-4" id="food-header">Dinner</span>
<div class="container-fluid padding">
    <div class="row padding">
        {% for item in dinner %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="card-rec">
            <div class="card">
                <!--{% if item.picture %}
                <img class="card-img-top" src="{{ item.picture.url }}" alt="{{ item.food }}">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ item.food }}</h4>
                    {% if item.|length > 50 %}
                    <p class="card-text">{{ item.description|slice:"0:50" }} </p>
                    {% else %}
                    <p class="card-text">{{ item.description }} </p>
                    {% endif %}
                    <a href="{% url 'view_recipe' uid=item.uid %}" class="btn btn-outline-secondary" id="view-recipe-button">View Recipe</a>
                </div>
                {% else %}-->
                <div class="card-body">
                    {% if item.recipe_type == "Appetizer" %}
                    <i class="fas fa-utensils" title="Appetizer Recipe" id="food-icon"></i> {% elif item.recipe_type == "Breakfast" %}
                    <i class="fas fa-bacon" title="Breakfast Recipe" id="food-icon"></i> {% elif item.recipe_type == "Dinner" %}
                    <i class="fas fa-hamburger" title="Dinner Recipe" id="food-icon"></i> {% elif item.recipe_type == "Dessert" %}
                    <i class="fas fa-ice-cream" title="Dessert Recipe" id="food-icon"></i>{% else %} {% endif %}
                    <h4 class="card-title">{{ item.recipe_name }} {% if item.users|length > 1 %} <span class="badge badge-info" title="Shared with {{item.users|length}} people">{{item.users|length}}</span> {% else %}
                        <span class="badge badge-info" title="Shared with {{item.users|length}} person">{{item.users|length}}</span> {% endif %}
                    </h4>

                    {% if item.cook_time != 0 %}
                    <p class="card-text">Cook Time: {{item.cook_time}} min</p>
                    {% else %}
                    <p class="card-text"> Cook Time: - </p>
                    {% endif %} {% if item.serves != 0 %}
                    <p class="card-text">Serves: {{item.serves}} </p>
                    {% else %}
                    <p class="card-text">Serves: -</p>
                    {% endif %}
                    <a href="{% url 'recipe:view_recipe' uid=item.uid %}" class="btn btn-outline-secondary" id="view-recipe-button">View Recipe</a>
                </div>
                <!--{% endif %}-->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card" id="no-recipes">
    <div class="card-body">
        <div class="card-text text-center">You currently have no dinner recipes.</div>
        <a href="{% url 'recipe:create_recipe' %}" class="btn btn-outline-secondary" id="no-recipes-button">Create Recipe</a>
    </div>
</div> {% endif %}
{% endblock %}