{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="text/css" href="{% static 'css/edit-recipe.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'recipe:people' recipe.encrypt %}" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="card" id="people-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h3 class="card-title text-center">
                                People
                            </h3>
                            <div id="users">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 mx-auto">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addPerson()">Add a Person</button>
                                </div>
                                <div class="col-sm-6 mx-auto">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removePerson()">Remove a Person</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" id="save">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    function onLoad() {
        var i = 0;
        '{% for user in users %}'
        var users = document.getElementById("users");
        var nextUser = document.createElement("input");
        nextUser.type = "email"
        nextUser.name = i;
        nextUser.maxLength = 50;
        nextUser.value = '{{user}}';
        nextUser.className = "form-control";
        if (i == 0)
            nextUser.disabled = "disabled";
        users.append(nextUser);
        i++
        '{% endfor %}'

    }
    $(document).ready(function() {
        onLoad();
    });
</script>
<script src="{% static 'js/edit-people.js' %}"></script>
{% endblock %}