{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="text/css" href="{% static 'css/edit-recipe.css' %}">
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="food-name-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Food Description</h5>
                            <input class="form-control" type="text" name="{{ form.recipe_name.html_name }}" placeholder="Food Name" value="{{recipe.recipe_name}}" required>
                            <select class="form-control" name="{{ form.recipe_type.html_name }}" required>
                                <option id="Appetizer">Appetizer</option>
                                <option id="Breakfast">Breakfast</option>
                                <option id="Dinner">Dinner</option>
                                <option id="Dessert">Dessert</option>
                            </select>
                            <textarea class="form-control" type="textarea" name="{{ form.description.html_name }}" placeholder="Food Description" maxLength="300">{{recipe.description}}</textarea>
                            <label for="cook-time">Cook Time in Minutes (5-500)</label>
                            <input class="form-control" name="{{ form.cook_time.html_name }}" id="cook-time" type="number" min="0" max="500" value="{{recipe.cook_time}}"></input>
                            <label for="serves">Serves (1-100)</label>
                            <input class="form-control" name="{{ form.serves.html_name }}" id="serves" type="number" min="0" max="100" value="{{recipe.serves}}"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="ingredient-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Ingredients</h5>
                            <div id="ingredients">
                            </div>
                            <input type="text" id="ingredients-list" name="{{ form.ingredients.html_name }}" hidden="true"></input>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addIngredient()">Add an Ingredient</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeIngredient()">Remove an Ingredient</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="steps-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Steps</h5>
                            <div id="steps">
                            </div>
                            <input type="text" id="steps-list" name="{{ form.steps.html_name }}" hidden="true"></input>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addStep()">Add a Step</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeStep()">Remove a Step</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" id="save" onclick="updateLists()">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    function onLoad() {
        document.getElementById("{{recipe.recipe_type}}").selected = true;

        '{% for step in recipe.steps %}'
        var step = addStep()
        step.innerHTML = '{{step}}'
        '{% endfor %}'

        '{% for ingredient in recipe.ingredients %}'
        var ingredient = addIngredient()
        ingredient.innerHTML = '{{ingredient}}';
        '{% endfor %}'
    }
    $(document).ready(function() {
        onLoad();
    });
</script>
<script src="{% static 'js/edit-recipe.js' %}"></script>
{% endblock %}