{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" text="text/css" href="{% static 'css/edit-recipe.css' %}">
{% endblock %}

{% block content %}

<form action="{% url 'recipe:edit' recipe.encrypt %}" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="food-name-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Food Description</h5>
                            <input class="form-control" type="text" name="food" placeholder="Food Name" value="{{recipe.food}}" required>
                            <select class="form-control" name="foodCat" required>
                                <option id="Appetizer">Appetizer</option>
                                <option id="Breakfast">Breakfast</option>
                                <option id="Dinner">Dinner</option>
                                <option id="Dessert">Dessert</option>
                            </select>
                            <textarea class="form-control" type="textarea" name="description" placeholder="Food Description" maxLength="300">{{recipe.description}}</textarea>
                            <label for="cook-time">Cook Time in Minutes (5-500)</label>
                            <input class="form-control" name="cook_time" id="cook-time" type="number" min="0" max="500" value="{{recipe.cook_time}}"></input>
                            <label for="serves">Serves (1-100)</label>
                            <input class="form-control" name="serves" id="serves" type="number" min="0" max="100" value="{{recipe.serves}}"></input>
                            <!--<label for="file-up">Picture (.jpg or .png)</label>
                            <input class="form-control-file" type="file" accept="image/*" id="file-up" onchange="readURL(this);" name="pic" />
                            <img id="food-pic" src="{{recipe.picture}}" />
                            <a href="{% url 'recipe:remove_picture' enc=recipe.encrypt %}" id="button-small" class="btn btn-outline-secondary">Remove Picture</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="ingredient-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Ingredients</h5>
                            <div id="ingredients">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addIngredient()">Add an Ingredient</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeIngredient()">Remove an Ingredient</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="steps-box">
                    <div class="card-body">
                        <div class="card-text">
                            <h5 class="card-title">Steps</h5>
                            <div id="steps">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="addStep()">Add a Step</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-outline-secondary" id="button" type="button" onclick="removeStep()">Remove a Step</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" id="save">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    function onLoad() {
        if ("{{recipe.food_type}}" == "Appetizer") {
            document.getElementById("Appetizer").selected = true;
        } else if ("{{recipe.food_type}}" == "Breakfast") {
            document.getElementById("Breakfast").selected = true;
        } else if ("{{recipe.food_type}}" == "Dinner") {
            document.getElementById("Dinner").selected = true;
        } else if ("{{recipe.food_type}}" == "Dessert") {
            document.getElementById("Dessert").selected = true;
        }

        var i = 1;

        '{% for rec in recipe.steps %}'
        var steps = document.getElementById("steps");
        var nextStep = document.createElement("textarea");
        nextStep.name = i;
        nextStep.maxLength = 300;
        nextStep.placeholder = "Step " + i;
        nextStep.innerHTML = '{{rec}}';
        nextStep.required = "required";
        nextStep.className = "form-control";
        steps.append(nextStep);
        i++
        '{% endfor %}'

        i = 101;
        '{% for rec in recipe.ingredients %}'
        var ingredients = document.getElementById("ingredients");
        var nextIngredient = document.createElement("textarea");
        nextIngredient.name = i;
        nextIngredient.maxLength = 300;
        nextIngredient.innerHTML = '{{rec}}';
        nextIngredient.required = "required";
        nextIngredient.className = "form-control";
        nextIngredient.placeholder = "Ingredient " + (i - 100);
        ingredients.append(nextIngredient);
        i++
        '{% endfor %}'
        if ('{{recipe.picture}}' == "") {
            document.getElementById("food-pic").style.display = "none";
        }
    }
    $(document).ready(function() {
        onLoad();
    });
</script>
<script src="{% static 'js/edit-recipe.js' %}"></script>
<script src="{% static 'js/edit-people.js' %}"></script>
{% endblock %}