<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" text="text/css" href="{% static 'css/edit-recipe.css' %}">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="main-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing' %}"><img src="{% static 'images/CommunityCookbooks.png' %}" width="200px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-Responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar-Responsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'appetizers' %}">Appetizers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'breakfast' %}">Breakfast</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'dinner' %}">Dinner</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'desserts' %}">Desserts</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }}
                        {% if notifications %}
                            <span class="badge badge-danger">{{ notifications|length }}</span>
                        {% endif %}
                    </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'notifications' %}">
                            Notifications
                            {% if notifications %}
                            <span class="badge badge-danger">{{ notifications|length }}</span>
                            {% endif %}
                        </a>
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
                        Login
                    </a> {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <form action="{% url 'people' recipe.encrypt %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mx-auto">
                    <div class="card" id="people-box">
                        <div class="card-body">
                            <div class="card-text">
                                <h3 class="card-title text-center">
                                    People
                                </h3>
                                <div id="users">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-6 mx-auto">
                                        <button class="btn btn-outline-secondary" id="button" type="button" onclick="addPerson()">Add a Person</button>
                                    </div>
                                    <div class="col-sm-6 mx-auto">
                                        <button class="btn btn-outline-secondary" id="button" type="button" onclick="removePerson()">Remove a Person</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit" id="save">Save</button>
        </div>
    </form>

    <script>
        function onLoad() {
            var i = 0;
            '{% for user in users %}'
            var users = document.getElementById("users");
            var nextUser = document.createElement("input");
            nextUser.type = "email"
            nextUser.name = i;
            nextUser.maxLength = 50;
            nextUser.value = '{{user}}';
            nextUser.className = "form-control";
            if (i == 0)
                nextUser.disabled = "disabled";
            users.append(nextUser);
            i++
            '{% endfor %}'

        }
        $(document).ready(function() {
            onLoad();
        });
    </script>
    <script src="{% static 'js/edit-people.js' %}"></script>
</body>