{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <!-- Carosuel -->
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/doughnuts.jpg' %}" class="d-block w-100" alt="Doughnuts">
                <div class="carousel-caption">
                    <h1 class="display-2">Community Cookbooks</h1>
                    <h3>No more losing recipes.</h3>
                    <a href="{% url 'login:login' %}"><button type="button" class="btn btn-outline-light btn-lg">Login to Get Started</button></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Featured Recipes -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-3">Featured Recipes</h1>
                <hr>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/pie.jpg' %}" alt="Pie">
                    <div class="card-body">
                        <h4 class="card-title">Apple Pie</h4>
                        <p class="card-text">This apple pie recipe is easy to make and doesn't disappoint.</p>
                        <a href="#" class="btn btn-outline-secondary">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/ribs.jpg' %}" alt="Pie">
                    <div class="card-body">
                        <h4 class="card-title">Ribs</h4>
                        <p class="card-text">Rib recipe description</p>
                        <a href="#" class="btn btn-outline-secondary">View Recipe</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/pumpkinPie.jpg' %}" alt="Pie">
                    <div class="card-body">
                        <h4 class="card-title">Pumpkin Pie</h4>
                        <p class="card-text">Pumpking pie recipe description</p>
                        <a href="#" class="btn btn-outline-secondary">View Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Announcements -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-3">Announcements</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h2 class="display-4">Prepare For Launch!</h2>
                <small>March 24, 2020</small>
                <p>Hello everyone! Welcome to Community Cookbooks, a website designed for the ease of storing all your favorite recipes. Right now, I am working hard to get this website up and running as fast as I can. I am new to website design and implementation
                    so there is a lot to learn along the way. I am excited for the future of this website and hope that you are able to use this website so that you can share you recipes with everyone you want!
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'images/rocket.png' %}" alt="Rocketship">
            </div>
        </div>
    </div>
    
        <!-- Footer -->
        <footer>
            <div class="container-fluid padding">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img src="{% static 'images/CommunityCookbooks.png' %}">
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}
