<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>Notifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/notifications.css' %}" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="main-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'landing' %}"><img src="{% static 'images/CommunityCookbooks.png' %}" width="200px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-Responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar-Responsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'appetizers' %}">Appetizers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'breakfast' %}">Breakfast</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'dinner' %}">Dinner</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'desserts' %}">Desserts</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }}
                        {% if notifications %}
                            <span class="badge badge-danger">{{ notifications|length }}</span>
                        {% endif %}
                    </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'notifications' %}">
                            Notifications
                            {% if notifications %}
                            <span class="badge badge-danger">{{ notifications|length }}</span>
                            {% endif %}
                        </a>
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
                        Login
                    </a> {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if notification_list %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 mx-auto">
                <h4>Invitations to a Recipe</h4>
                <div class="list-group" id="list">
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card" id="no-notifications">
        <div class="card-body">
            <div class="card-text text-center">You have no new notifications.</div>
        </div>
    </div>
    {% endif %}

    <script>
        function onLoad() {
            var i = 0;
            var list = document.getElementById("list");
            '{% for rec in notification_list %}'
            var notification = document.createElement("div");
            notification.className = "list-group-item list-group-item flex-column align-items-start";
            notification.id = i;
            list.appendChild(notification);
            var title = document.createElement("h5");
            title.className = "mb-1";
            title.innerHTML = "Recipe: {{rec.food}}";
            notification.appendChild(title);
            var content = document.createElement("div");
            content.className = "d-flex w-100 justify-content-between";
            notification.appendChild(content);
            var description = document.createElement("p");
            description.className = "mb-1";
            description.innerHTML = "{{ rec.description }}";
            content.appendChild(description);
            var icons = document.createElement("div");
            content.appendChild(icons);
            var accept = document.createElement("a");
            accept.href = "{% url 'accept_invitation' enc=rec.encrypt %}";
            icons.appendChild(accept);
            var accept_button = document.createElement("button");
            accept_button.className = "border-0 btn-transition btn btn-outline-success";
            accept.appendChild(accept_button);
            var accept_icon = document.createElement("i");
            accept_icon.className = "fa fa-check";
            accept_button.appendChild(accept_icon);

            var decline = document.createElement("a");
            decline.href = "{% url 'decline_invitation' enc=rec.encrypt %}";
            icons.appendChild(decline);
            var decline_button = document.createElement("button");
            decline_button.className = "border-0 btn-transition btn btn-outline-danger";
            decline.appendChild(decline_button);
            var decline_icon = document.createElement("i");
            decline_icon.className = "fa fa-times";
            decline_button.appendChild(decline_icon);
            i++;
            '{% endfor %}'
            i = 0;
            '{% for user in from_users %}'
            var notification = document.getElementById(i);
            var owner = document.createElement("small");
            owner.innerHTML = "Owner: {{user}}";
            notification.appendChild(owner);
            i++;
            '{% endfor %}'
        }
        $(document).ready(function() {
            onLoad();
        });
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>