{% extends "base-template.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign_up.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5" id="signup-box">
                    <div class="card-body">
                        <a class="back-button" href="../"><i class="fas fa-arrow-circle-left fa-lg"></i></a>
                        <h3 class="card-title text-center">Sign Up</h3>
                        <div class="card-subtitle text-center" id="incorrect">{{ incorrect }}</div>
                        <form class="form-signin" action="../sign-up/" method="POST">
                            {% csrf_token %}
                            <fieldset autocomplete="off">
                                <div class="form-label-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" name="email_1" id="email_1" placeholder="Enter Email" required>
                                </div>
                                <div class="form-label-group" id="email2-label">
                                    <input class="form-control" type="email" name="email_2" id="email_2" placeholder="Enter Email Again" required>
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password_1" id="password_1" placeholder="Enter Password" required>
                                </div>
                                <div class="form-label-group" id="password2-label">
                                    <input class="form-control" type="password" name="password_2" id="password_2" placeholder="Enter Password Again" required>
                                </div>
                                <div class="form-label-group">
                                    <label for="first_name">Name</label>
                                    <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name" required>
                                </div>
                                <div class="form-label-group" id="last-name-label">
                                    <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name" required>
                                </div>
                                <button class="btn btn-lg btn-block text-uppercase" id="button" type="submit" disabled>Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}