<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sign_up.css' %}" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'images/CommunityCookbooks.png' %}" width="200px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-targer="#navbar-Responsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-Responsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="../../recipes/home/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../recipes/appetizers/">Appetizers</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../recipes/breakfast/">Breakfast</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../recipes/dinner/">Dinner</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../recipes/desserts/">Desserts</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a> {% if user.is_authenticated %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/get-started/logout/">Log out</a>
                        </div>
                        {% else %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/get-started/login/">Login</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Login box -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5" id="signup-box">
                    <div class="card-body">
                        <a class="back-button" href="../"><i class="fas fa-arrow-circle-left fa-lg"></i></a>
                        <h3 class="card-title text-center">Sign Up</h3>
                        <div class="card-subtitle text-center" id="incorrect">{{ incorrect }}</div>
                        <form class="form-signin" action="../sign-up/" method="POST">
                            {% csrf_token %}
                            <fieldset autocomplete="off">
                                <div class="form-label-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" name="email_1" id="email_1" placeholder="Enter Email" required>
                                </div>
                                <div class="form-label-group" id="email2-label">
                                    <input class="form-control" type="email" name="email_2" id="email_2" placeholder="Enter Email Again" required>
                                </div>
                                <div class="form-label-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" name="password_1" id="password_1" placeholder="Enter Password" required>
                                </div>
                                <div class="form-label-group" id="password2-label">
                                    <input class="form-control" type="password" name="password_2" id="password_2" placeholder="Enter Password Again" required>
                                </div>
                                <div class="form-label-group">
                                    <label for="first_name">Name</label>
                                    <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name" required>
                                </div>
                                <div class="form-label-group" id="last-name-label">
                                    <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name" required>
                                </div>
                                <button class="btn btn-lg btn-block text-uppercase" id="button" type="submit" disabled>Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'js/sign_up.js' %}"></script>
</body>

</html>