@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    background-color: #D3D3D3;
}

#main-navbar {
    background-color: #FF7F50 !important;
    box-shadow: 0 0 10px;
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0%;
}

.form-control:focus {
    box-shadow: none;
    border-color: coral;
}

#email2-label,
#password2-label,
#last-name-label {
    margin-top: 10px;
}

#button {
    margin-top: 10px;
    background-color: coral;
    color: white;
}

#button:hover {
    background-color: #ED5D28;
}

.back-button {
    position: absolute;
}

.card {
    border-color: #696969;
    box-shadow: 0 0 10px;
}

.dropdown {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    border-color: #696969 !important;
    background-color: #FF7F50 !important;
}

.btn-primary:hover {
    color: #FF7F50;
    background-color: #FFF !important;
}

.btn-primary:focus {
    color: #FF7F50 !important;
    border-color: #696969 !important;
    background-color: #FFF !important;
}

#incorrect {
    color: #F32013;
    background-color: rgba(243, 32, 19, .3);
    font-weight: bold;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/