@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    background: url("../images/texture.png") repeat #cfcfcf;
}

#main-navbar {
    background: -moz-linear-gradient(left, #FF7F50 0%, #FFE643 100%);
    background: -webkit-linear-gradient(left, #FF7F50 0%, #FFE643 100%);
    background: linear-gradient(to right, #FF7F50 0%, #FFE643 100%);
}

.card {
    border-radius: 4%;
    border-color: white;
}

textarea,
select,
input,
button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    margin-top: 30px;
}

#button {
    background-color: coral;
    color: white;
    height: 70px;
    border-color: coral;
}

#button:hover {
    background-color: white;
    color: coral;
}

#button:focus {
    box-shadow: none !important;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: none !important;
    border-color: coral !important;
}

#save {
    margin-right: 50px;
    color: #FF7F50;
    background-color: white;
    border-color: white;
}

#save:hover {
    background-color: #FF7F50;
    color: white;
}

#save:focus {
    box-shadow: none !important;
}

label {
    margin-bottom: 5px;
}

#file {
    margin-top: 5px;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/