@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


#food-icon {
    position: absolute;
    left: 89%;
    top: 5%;
    color: #FF7F50;
    cursor: default;
}

.badge-info {
    font-size: 14px;
    cursor: default;
}

.card-img-top {
    height: 198px;
    border-radius: 2%;
    border-color: #fff;
}

.card-title {
    font-size: 20px;
    text-transform: capitalize;
}

#card-rec {
    margin-top: 20px;
}

.card {
    color: #696969;
    background-color: #fff;
    border-color: #696969;
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px;
}

.card-img-top {
    filter: brightness(80%)
}

.card-body a,
.card-img-overlay a {
    color: #fff;
    border-color: #696969;
    background-color: #FF7F50;
}

.card-body a:hover,
.card-img-overlay a:hover {
    color: #fff;
    border-color: #696969;
    background-color: #ED5D28;
}

.card-body a:active,
.card-img-overlay a:active {
    color: white !important;
    border-color: #696969 !important;
    background-color: #ED5D28 !important;
}

.card-body a:focus,
.card-img-overlay a:focus {
    color: white !important;
    border-color: #696969 !important;
    background-color: #ED5D28 !important;
}

#food-header {
    color: #696969;
    font-weight: 700;
    margin-left: 25px;
    font-size: 40px;
}

#recipe-bar {
    background-color: transparent;
}

#search-button,
#create-button {
    color: #fff;
    border-color: #696969;
    background-color: #FF7F50;
    margin-bottom: 5px;
}

#search-button:hover,
#create-button:hover {
    color: #fff;
    border-color: #696969;
    background-color: #ED5D28;
}

#search-box:focus {
    color: #FF7F50 !important;
    border-color: #696969;
}

#no-recipes {
    color: #696969;
    font-weight: 700;
    font-size: 34px;
    width: 350px;
    height: 250px;
    margin: auto;
}

#no-recipes-button {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, 0%);
}

.dropdown {
    cursor: pointer;
}

#view-recipe-button {
    position: absolute;
    top: 75%;
    left: 55%;
    font-size: 14px;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {
    #search-form-box,
    #search-button,
    #create-link {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/