.card-img-top {
    height: 200px;
}

#card-rec {
    margin-top: 20px;
}

.card {
    color: white;
    background-color: coral;
    border-color: white;
    width: 250px;
    max-height: 300px;
}

.card-img-top {
    filter: brightness(80%)
}

.card-body a,
.card-img-overlay a {
    color: white;
    border-color: white;
}

.card-body a:hover,
.card-img-overlay a:hover {
    color: coral;
    border-color: white;
    background-color: white;
}

.card-body a:active,
.card-img-overlay a:active {
    color: coral !important;
    border-color: white !important;
    background-color: white !important;
    box-shadow: none !important;
}

.card-body a:focus,
.card-img-overlay a:focus {
    color: coral !important;
    border-color: white !important;
    background-color: white !important;
    box-shadow: none !important;
}

#food-header {
    color: black;
    font-weight: 500;
    margin-left: 25px;
    font-size: 40px;
}

#recipe-bar {
    background-color: coral;
}

#search-button,
#create-button {
    color: coral;
    background-color: white;
    border-color: white;
}

#search-button:hover,
#create-button:hover {
    color: white;
    background-color: coral;
    border-color: white;
}

#search-button:focus,
#create-button:focus {
    box-shadow: none;
}