    .signup-body {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0px;
        background-color: coral;
        overflow-y: auto;
        overflow-x: auto;
        font-family: Arial, Helvetica, sans-serif;
        min-width: 850px;
    }
    
    .logo {
        display: none;
    }
    
    .dropbtn {
        position: fixed;
        left: 90%;
        top: 2%;
        font-size: 28px;
        color: white;
        background-color: transparent;
        border: 0px;
        z-index: 1;
    }
    
    .background-image img {
        position: absolute;
        width: 100%;
        height: 50%;
        margin-top: 0px;
        opacity: .5;
        left: 0px;
        top: 0px;
    }
    
    .black-overlay {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 50%;
        margin-top: 0px;
        left: 0px;
        top: 0px;
    }
    
    .dropdown-content {
        display: none;
    }
    
    .header-links,
    .user {
        display: none;
    }
    
    .black-overlay {
        display: none;
    }
    
    .background-image {
        display: none;
    }
    
    .signup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        background-color: white;
        width: 400px;
        height: 500px;
        border-radius: 10%;
    }
    
    .signup-label {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, .85);
        font-size: 30px;
    }
    
    .email-1 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .email-1:focus {
        outline: none;
    }
    
    .email-2 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .email-2:focus {
        outline: none;
    }
    
    .email-label {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 20px;
        color: rgba(0, 0, 0, .85);
        font-size: 18px;
    }
    
    .password-1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .password-1:focus {
        outline: none;
    }
    
    .password-2 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .password-2:focus {
        outline: none;
    }
    
    .password-label {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 20px;
        color: rgba(0, 0, 0, .85);
        font-size: 18px;
    }
    
    .first-name {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .first-name:focus {
        outline: none;
    }
    
    .name-label {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 20px;
        color: rgba(0, 0, 0, .85);
        font-size: 18px;
    }
    
    .last-name {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        width: 250px;
        height: 40px;
    }
    
    .last-name:focus {
        outline: none;
    }
    
    .submit-button {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 40px;
        font-size: 20px;
        color: white;
        background-color: coral;
        border: 0px;
        border-radius: 5%;
        cursor: pointer;
    }
    /* End of Phone CSS */
    /* Start of Tablet CSS */
    
    @media only screen and (min-width: 670px) {}
    /* End of Tablet CSS */
    /* Start of Computer CSS */
    
    @media only screen and (min-width: 1000px) {
        .dropbtn {
            display: none;
        }
        .black-overlay {
            display: inline;
        }
        .background-image {
            display: inline;
        }
        /* Start of Header CSS */
        .main-header {
            position: absolute;
            font-family: Arial, Helvetica, sans-serif;
            top: 0px;
            left: 0px;
            font-size: 21px;
            background-color: rgba(255, 127, 80, .9);
            height: 38px;
            margin-top: 0px;
            width: 100%;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .2);
            z-index: 1;
        }
        a:link {
            color: rgba(253, 253, 253, 1);
            text-decoration: none;
        }
        a:visited {
            color: rgba(253, 253, 253, 1);
        }
        .header-links {
            display: inline;
            list-style-type: none;
            margin: 0px;
        }
        .header-button {
            position: relative;
            margin-top: 0px;
            display: inline-block;
            font-weight: 200%;
            margin-bottom: 0px;
            padding-left: 2.5%;
            padding-right: 2.5%;
            align-items: center;
            left: 15%;
            height: 100%;
        }
        .button {
            position: relative;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .header-button:hover {
            background-color: rgba(252, 98, 42, .8);
        }
        .logo {
            position: absolute;
            display: inline;
            font-family: cursive;
            text-align: center;
            left: 0%;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100px;
            height: 100%;
            box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, .15);
        }
        .user {
            position: absolute;
            display: inline;
            left: 95%;
            height: 100%;
            margin-top: 0px;
            top: 0px;
        }
        .user:hover {
            background-color: rgb(252, 98, 42);
        }
        .user i {
            position: relative;
            top: 5px;
            padding-right: 7px;
            padding-left: 7px;
        }
        /* End of Header CSS */
        .background-image img {
            height: 750px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .black-overlay {
            width: 100%;
            height: 750px;
            z-index: -1;
        }
    }